<div class="container enterprise-customers">
    <div class="row justify-content-center">
        <div class="col-12 mb-3">
            <h6 class="text-center text-uppercase text-gray fw-bold">Thousands of customers love & trust Datadog</h6>
        </div>
        <div class="col-12 col-sm-10">
            <div class="logos tw-flex tw-justify-center tw-items-center tw-flex-wrap tablet:tw-flex-nowrap tw-gap-9 tablet:tw-gap-11 desktop:tw-gap-15">
                {% for logo in logos %}
                    <a href="{{ logo.link }}" aria-label="{{ logo.company }} Customer Logo">
                        <img src="{{ logo.image }}" alt="{{ logo.company }} logo" loading=lazy>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>