<div id="main-container"><div x-data="{ activeItem: 0, lastIndex: 7 }" id="features-box-slider"><div id="features-carousel-mobile" class="d-xl-none"><div class="container"><div class="row justify-content-center"><div class="col-12 col-lg-8 mt-5 mb-4"><article class="text-center"><div x-show="activeItem == 0" :class="activeItem == 0 ? 'active' : ''" class="image active"><figure class="mb-0 tw-mb-0 position-relative"><a href="https://www.datadoghq.com/product/infrastructure-monitoring/"><picture><source media="(max-width: 375px)" srcset="https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=375&amp;dpr=1.75&amp;q=90"><source media="(max-width: 425px)" srcset="https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=425&amp;dpr=1.75&amp;q=90"><source media="(max-width: 767px)" srcset="https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=576&amp;dpr=1.75&amp;q=90"><source media="(max-width: 1199px)" srcset="https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=768&amp;dpr=2&amp;q=90"><source media="(min-width: 1200px)" srcset="https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x"><img class="img-fluid" loading="lazy" width="617" height="" alt="From overview to deep details,&nbsp;fast" title="Infrastructure" srcset="https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1 1x,
        https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1.5&amp;q=80 1.5x,
        https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x" src="https://imgix.datadoghq.com/img/home-hostmap-static.png?ch=Width,DPR,Save-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617"></picture></a></figure></div><p @click="activeItem = 0" :class="activeItem == 0 ? 'active' : ''" class="title fw-semibold w-max mx-auto active">Infrastructure</p><p x-show="activeItem == 0" class="description">From overview to deep details,&nbsp;fast</p><a x-show="activeItem == 0" href="https://www.datadoghq.com/product/infrastructure-monitoring/" class="link fw-semibold text-uppercase w-max mx-auto mb-2">LEARN MORE &gt;</a></article><article class="text-center"><div x-show="activeItem == 1" :class="activeItem == 1 ? 'active' : ''" class="image" style="display: none;"><figure class="mb-0 tw-mb-0 position-relative"><a href="https://www.datadoghq.com/product/log-management/"><picture><source media="(max-width: 375px)" srcset="https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=375&amp;dpr=1.75&amp;q=90"><source media="(max-width: 425px)" srcset="https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=425&amp;dpr=1.75&amp;q=90"><source media="(max-width: 767px)" srcset="https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=576&amp;dpr=1.75&amp;q=90"><source media="(max-width: 1199px)" srcset="https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=768&amp;dpr=2&amp;q=90"><source media="(min-width: 1200px)" srcset="https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x"><img class="img-fluid" loading="lazy" width="617" height="" alt="Analyze and explore your logs for rapid troubleshooting" title="Log Management" srcset="https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1 1x,
        https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1.5&amp;q=80 1.5x,
        https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x" src="https://imgix.datadoghq.com/img/clickthrough-logs.png?ch=Width,DPR,Save-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617"></picture></a></figure></div><p @click="activeItem = 1" :class="activeItem == 1 ? 'active' : ''" class="title fw-semibold w-max mx-auto">Log Management</p><p x-show="activeItem == 1" class="description" style="display: none;">Analyze and explore your logs for rapid troubleshooting</p><a x-show="activeItem == 1" href="https://www.datadoghq.com/product/log-management/" class="link fw-semibold text-uppercase w-max mx-auto mb-2" style="display: none;">LEARN MORE &gt;</a></article><article class="text-center"><div x-show="activeItem == 2" :class="activeItem == 2 ? 'active' : ''" class="image" style="display: none;"><figure class="mb-0 tw-mb-0 position-relative"><a href="https://www.datadoghq.com/product/apm/"><picture><source media="(max-width: 375px)" srcset="https://imgix.datadoghq.com/img/home-apm-static-mobile.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=375&amp;dpr=1.75&amp;q=90"><source media="(max-width: 425px)" srcset="https://imgix.datadoghq.com/img/home-apm-static-mobile.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=425&amp;dpr=1.75&amp;q=90"><source media="(max-width: 767px)" srcset="https://imgix.datadoghq.com/img/home-apm-static-mobile.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=576&amp;dpr=1.75&amp;q=90"><source media="(max-width: 1199px)" srcset="https://imgix.datadoghq.com/img/home-apm-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=768&amp;dpr=2&amp;q=90"><source media="(min-width: 1200px)" srcset="https://imgix.datadoghq.com/img/home-apm-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/home-apm-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/home-apm-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/home-apm-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/home-apm-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x"><img class="img-fluid" loading="lazy" width="617" height="" alt="Monitor, optimize, and investigate app&nbsp;performance" title="APM" srcset="https://imgix.datadoghq.com/img/home-apm-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1 1x,
        https://imgix.datadoghq.com/img/home-apm-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1.5&amp;q=80 1.5x,
        https://imgix.datadoghq.com/img/home-apm-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/home-apm-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/home-apm-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/home-apm-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/home-apm-static.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x" src="https://imgix.datadoghq.com/img/home-apm-static.png?ch=Width,DPR,Save-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617"></picture></a></figure></div><p @click="activeItem = 2" :class="activeItem == 2 ? 'active' : ''" class="title fw-semibold w-max mx-auto">APM</p><p x-show="activeItem == 2" class="description" style="display: none;">Monitor, optimize, and investigate app&nbsp;performance</p><a x-show="activeItem == 2" href="https://www.datadoghq.com/product/apm/" class="link fw-semibold text-uppercase w-max mx-auto mb-2" style="display: none;">LEARN MORE &gt;</a></article><article class="text-center"><div x-show="activeItem == 3" :class="activeItem == 3 ? 'active' : ''" class="image" style="display: none;"><figure class="mb-0 tw-mb-0 position-relative"><a href="https://www.datadoghq.com/product/security-monitoring/"><picture><source media="(max-width: 375px)" srcset="https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=375&amp;dpr=1.75&amp;q=90"><source media="(max-width: 425px)" srcset="https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=425&amp;dpr=1.75&amp;q=90"><source media="(max-width: 767px)" srcset="https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=576&amp;dpr=1.75&amp;q=90"><source media="(max-width: 1199px)" srcset="https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=768&amp;dpr=2&amp;q=90"><source media="(min-width: 1200px)" srcset="https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x"><img class="img-fluid" loading="lazy" width="617" height="" alt="Identify potential threats to your systems in real time" title="Security Monitoring" srcset="https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1 1x,
        https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1.5&amp;q=80 1.5x,
        https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x" src="https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?ch=Width,DPR,Save-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617"></picture></a></figure></div><p @click="activeItem = 3" :class="activeItem == 3 ? 'active' : ''" class="title fw-semibold w-max mx-auto">Security Monitoring</p><p x-show="activeItem == 3" class="description" style="display: none;">Identify potential threats to your systems in real time</p><a x-show="activeItem == 3" href="https://www.datadoghq.com/product/security-monitoring/" class="link fw-semibold text-uppercase w-max mx-auto mb-2" style="display: none;">LEARN MORE &gt;</a></article><article class="text-center"><div x-show="activeItem == 4" :class="activeItem == 4 ? 'active' : ''" class="image" style="display: none;"><figure class="mb-0 tw-mb-0 position-relative"><a href="https://www.datadoghq.com/product/network-monitoring/network-performance-monitoring/"><picture><source media="(max-width: 375px)" srcset="https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=375&amp;dpr=1.75&amp;q=90"><source media="(max-width: 425px)" srcset="https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=425&amp;dpr=1.75&amp;q=90"><source media="(max-width: 767px)" srcset="https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=576&amp;dpr=1.75&amp;q=90"><source media="(max-width: 1199px)" srcset="https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=768&amp;dpr=2&amp;q=90"><source media="(min-width: 1200px)" srcset="https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x"><img class="img-fluid" loading="lazy" width="617" height="" alt="Analyze network traffic patterns across your cloud environments" title="Network Monitoring" srcset="https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1 1x,
        https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1.5&amp;q=80 1.5x,
        https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x" src="https://imgix.datadoghq.com/img/network/network-map-poster.png?ch=Width,DPR,Save-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617"></picture></a></figure></div><p @click="activeItem = 4" :class="activeItem == 4 ? 'active' : ''" class="title fw-semibold w-max mx-auto">Network Monitoring</p><p x-show="activeItem == 4" class="description" style="display: none;">Analyze network traffic patterns across your cloud environments</p><a x-show="activeItem == 4" href="https://www.datadoghq.com/product/network-monitoring/network-performance-monitoring/" class="link fw-semibold text-uppercase w-max mx-auto mb-2" style="display: none;">LEARN MORE &gt;</a></article><article class="text-center"><div x-show="activeItem == 5" :class="activeItem == 5 ? 'active' : ''" class="image" style="display: none;"><figure class="mb-0 tw-mb-0 position-relative"><a href="https://www.datadoghq.com/product/synthetic-monitoring/"><picture><source media="(max-width: 375px)" srcset="https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=375&amp;dpr=1.75&amp;q=90"><source media="(max-width: 425px)" srcset="https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=425&amp;dpr=1.75&amp;q=90"><source media="(max-width: 767px)" srcset="https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=576&amp;dpr=1.75&amp;q=90"><source media="(max-width: 1199px)" srcset="https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=768&amp;dpr=2&amp;q=90"><source media="(min-width: 1200px)" srcset="https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x"><img class="img-fluid" loading="lazy" width="617" height="" alt="Proactive, AI-driven monitoring of critical application features" title="Synthetic Monitoring" srcset="https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1 1x,
        https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1.5&amp;q=80 1.5x,
        https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x" src="https://imgix.datadoghq.com/img/Browsertest_03.png?ch=Width,DPR,Save-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617"></picture></a></figure></div><p @click="activeItem = 5" :class="activeItem == 5 ? 'active' : ''" class="title fw-semibold w-max mx-auto">Synthetic Monitoring</p><p x-show="activeItem == 5" class="description" style="display: none;">Proactive, AI-driven monitoring of critical application features</p><a x-show="activeItem == 5" href="https://www.datadoghq.com/product/synthetic-monitoring/" class="link fw-semibold text-uppercase w-max mx-auto mb-2" style="display: none;">LEARN MORE &gt;</a></article><article class="text-center"><div x-show="activeItem == 6" :class="activeItem == 6 ? 'active' : ''" class="image" style="display: none;"><figure class="mb-0 tw-mb-0 position-relative"><a href="https://www.datadoghq.com/product/real-user-monitoring/"><picture><source media="(max-width: 375px)" srcset="https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=375&amp;dpr=1.75&amp;q=90"><source media="(max-width: 425px)" srcset="https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=425&amp;dpr=1.75&amp;q=90"><source media="(max-width: 767px)" srcset="https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=576&amp;dpr=1.75&amp;q=90"><source media="(max-width: 1199px)" srcset="https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=768&amp;dpr=2&amp;q=90"><source media="(min-width: 1200px)" srcset="https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x"><img class="img-fluid" loading="lazy" width="617" height="" alt="Monitor user journeys and frontend performance in one place" title="Real User Monitoring" srcset="https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1 1x,
        https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1.5&amp;q=80 1.5x,
        https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x" src="https://imgix.datadoghq.com/img/products/rum/rum-video.png?ch=Width,DPR,Save-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617"></picture></a></figure></div><p @click="activeItem = 6" :class="activeItem == 6 ? 'active' : ''" class="title fw-semibold w-max mx-auto">Real User Monitoring</p><p x-show="activeItem == 6" class="description" style="display: none;">Monitor user journeys and frontend performance in one place</p><a x-show="activeItem == 6" href="https://www.datadoghq.com/product/real-user-monitoring/" class="link fw-semibold text-uppercase w-max mx-auto mb-2" style="display: none;">LEARN MORE &gt;</a></article><article class="text-center"><div x-show="activeItem == 7" :class="activeItem == 7 ? 'active' : ''" class="image" style="display: none;"><figure class="mb-0 tw-mb-0 position-relative"><a href="https://www.datadoghq.com/product/serverless-monitoring/"><picture><source media="(max-width: 375px)" srcset="https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=375&amp;dpr=1.75&amp;q=90"><source media="(max-width: 425px)" srcset="https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=425&amp;dpr=1.75&amp;q=90"><source media="(max-width: 767px)" srcset="https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=576&amp;dpr=1.75&amp;q=90"><source media="(max-width: 1199px)" srcset="https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=768&amp;dpr=2&amp;q=90"><source media="(min-width: 1200px)" srcset="https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x"><img class="img-fluid" loading="lazy" width="617" height="" alt="A comprehensive view of your serverless application" title="Serverless" srcset="https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1 1x,
        https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=1.5&amp;q=80 1.5x,
        https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2&amp;q=75 2x,
        https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=2.5&amp;q=65 2.5x,
        https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3&amp;q=50 3x,
        https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=3.5&amp;q=45 3.5x,
        https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width%2cDPR%2cSave-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617&amp;dpr=4&amp;q=35 4x" src="https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?ch=Width,DPR,Save-Data&amp;fm=png&amp;auto=format&amp;fit=max&amp;w=617"></picture></a></figure></div><p @click="activeItem = 7" :class="activeItem == 7 ? 'active' : ''" class="title fw-semibold w-max mx-auto">Serverless</p><p x-show="activeItem == 7" class="description" style="display: none;">A comprehensive view of your serverless application</p><a x-show="activeItem == 7" href="https://www.datadoghq.com/product/serverless-monitoring/" class="link fw-semibold text-uppercase w-max mx-auto mb-2" style="display: none;">LEARN MORE &gt;</a></article><a href="https://www.datadoghq.com/product/" class="d-block w-max mx-auto mt-6 bottom-link">VIEW ALL FEATURES</a></div></div></div></div><div id="features-carousel-desktop" class="d-none d-xl-block"><div class="container h-100"><div class="row h-100 align-items-center"><div id="videos-container" class="col-8 h-100 d-flex flex-column justify-content-center"><div x-data="{
        link: 'https://www.datadoghq.com/product/infrastructure-monitoring/',
        currentIndex: 0,
        nextIndex: 1,
        previousIndex: 7,
        get nextItem() {
            const activePlus = activeItem + 1;
            if (activePlus > lastIndex) {
                return 0;
            } else {
                return activePlus;
            }
        },
        get previousItem() {
            const activeMinus = activeItem - 1;
            if (activeMinus < 0) {
                return lastIndex;
            } else {
                return activeMinus;
            }
        }
    }" x-show="activeItem == currentIndex || activeItem == nextIndex || activeItem === previousIndex" x-transition.opacity="" x-transition.duration.100ms="" class="image active" :class="currentIndex == activeItem ? 'active' : (currentIndex == nextItem ? 'visible-next' : (currentIndex == previousItem ? 'visible-previous' : ''))" @click="handleImageClick(activeItem, currentIndex, link); activeItem = currentIndex;" @click.prevent=""><a href="https://www.datadoghq.com/product/infrastructure-monitoring/" aria-label="Link to https://www.datadoghq.com/product/infrastructure-monitoring/"><video loop="" playsinline="" muted="" preload="none" title="Infrastructure" poster="https://imgix.datadoghq.com/img/home-hostmap-static.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" src="https://imgix.datadoghq.com/video/Hostmap-compressed.mp4?fm=mp4&amp;fit=max" class="img-fluid">
<source src="https://imgix.datadoghq.com/video/Hostmap-compressed.mp4?fm=webm&amp;fit=max" type="video/webm"><source src="https://imgix.datadoghq.com/video/Hostmap-compressed.mp4?fm=mp4&amp;fit=max" type="video/mp4"><img src="https://imgix.datadoghq.com/img/home-hostmap-static.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" alt="From overview to deep details,&amp;nbsp;fast" loading="lazy"></video></a></div><div x-data="{
        link: 'https://www.datadoghq.com/product/log-management/',
        currentIndex: 1,
        nextIndex: 2,
        previousIndex: 0,
        get nextItem() {
            const activePlus = activeItem + 1;
            if (activePlus > lastIndex) {
                return 0;
            } else {
                return activePlus;
            }
        },
        get previousItem() {
            const activeMinus = activeItem - 1;
            if (activeMinus < 0) {
                return lastIndex;
            } else {
                return activeMinus;
            }
        }
    }" x-show="activeItem == currentIndex || activeItem == nextIndex || activeItem === previousIndex" x-transition.opacity="" x-transition.duration.100ms="" class="image visible-next" :class="currentIndex == activeItem ? 'active' : (currentIndex == nextItem ? 'visible-next' : (currentIndex == previousItem ? 'visible-previous' : ''))" @click="handleImageClick(activeItem, currentIndex, link); activeItem = currentIndex;" @click.prevent=""><a href="https://www.datadoghq.com/product/log-management/" aria-label="Link to https://www.datadoghq.com/product/log-management/"><video loop="" playsinline="" muted="" preload="none" title="Log Management" poster="https://imgix.datadoghq.com/img/clickthrough-logs.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" src="https://imgix.datadoghq.com/video/clickthrough-logs.mp4?fm=mp4&amp;fit=max" class="img-fluid">
<source src="https://imgix.datadoghq.com/video/clickthrough-logs.mp4?fm=webm&amp;fit=max" type="video/webm"><source src="https://imgix.datadoghq.com/video/clickthrough-logs.mp4?fm=mp4&amp;fit=max" type="video/mp4"><img src="https://imgix.datadoghq.com/img/clickthrough-logs.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" alt="Analyze and explore your logs for rapid troubleshooting" loading="lazy"></video></a></div><div x-data="{
        link: 'https://www.datadoghq.com/product/apm/',
        currentIndex: 2,
        nextIndex: 3,
        previousIndex: 1,
        get nextItem() {
            const activePlus = activeItem + 1;
            if (activePlus > lastIndex) {
                return 0;
            } else {
                return activePlus;
            }
        },
        get previousItem() {
            const activeMinus = activeItem - 1;
            if (activeMinus < 0) {
                return lastIndex;
            } else {
                return activeMinus;
            }
        }
    }" x-show="activeItem == currentIndex || activeItem == nextIndex || activeItem === previousIndex" x-transition.opacity="" x-transition.duration.100ms="" class="image" :class="currentIndex == activeItem ? 'active' : (currentIndex == nextItem ? 'visible-next' : (currentIndex == previousItem ? 'visible-previous' : ''))" @click="handleImageClick(activeItem, currentIndex, link); activeItem = currentIndex;" @click.prevent="" style="display: none;"><a href="https://www.datadoghq.com/product/apm/" aria-label="Link to https://www.datadoghq.com/product/apm/"><video loop="" playsinline="" muted="" preload="none" title="APM" poster="https://imgix.datadoghq.com/img/home-apm-static.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" src="https://imgix.datadoghq.com/video/APM-comp.mp4?fm=mp4&amp;fit=max" class="img-fluid">
<source src="https://imgix.datadoghq.com/video/APM-comp.mp4?fm=webm&amp;fit=max" type="video/webm"><source src="https://imgix.datadoghq.com/video/APM-comp.mp4?fm=mp4&amp;fit=max" type="video/mp4"><img src="https://imgix.datadoghq.com/img/home-apm-static.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" alt="Monitor, optimize, and investigate app&amp;nbsp;performance" loading="lazy"></video></a></div><div x-data="{
        link: 'https://www.datadoghq.com/product/security-monitoring/',
        currentIndex: 3,
        nextIndex: 4,
        previousIndex: 2,
        get nextItem() {
            const activePlus = activeItem + 1;
            if (activePlus > lastIndex) {
                return 0;
            } else {
                return activePlus;
            }
        },
        get previousItem() {
            const activeMinus = activeItem - 1;
            if (activeMinus < 0) {
                return lastIndex;
            } else {
                return activeMinus;
            }
        }
    }" x-show="activeItem == currentIndex || activeItem == nextIndex || activeItem === previousIndex" x-transition.opacity="" x-transition.duration.100ms="" class="image" :class="currentIndex == activeItem ? 'active' : (currentIndex == nextItem ? 'visible-next' : (currentIndex == previousItem ? 'visible-previous' : ''))" @click="handleImageClick(activeItem, currentIndex, link); activeItem = currentIndex;" @click.prevent="" style="display: none;"><a href="https://www.datadoghq.com/product/security-monitoring/" aria-label="Link to https://www.datadoghq.com/product/security-monitoring/"><video loop="" playsinline="" muted="" preload="none" title="Security Monitoring" poster="https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" src="https://imgix.datadoghq.com/video/security-one-platform-compressed.mp4?fm=mp4&amp;fit=max" class="img-fluid">
<source src="https://imgix.datadoghq.com/video/security-one-platform-compressed.mp4?fm=webm&amp;fit=max" type="video/webm"><source src="https://imgix.datadoghq.com/video/security-one-platform-compressed.mp4?fm=mp4&amp;fit=max" type="video/mp4"><img src="https://imgix.datadoghq.com/img/security-monitoring/security-one-platform-poster.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" alt="Identify potential threats to your systems in real time" loading="lazy"></video></a></div><div x-data="{
        link: 'https://www.datadoghq.com/product/network-monitoring/network-performance-monitoring/',
        currentIndex: 4,
        nextIndex: 5,
        previousIndex: 3,
        get nextItem() {
            const activePlus = activeItem + 1;
            if (activePlus > lastIndex) {
                return 0;
            } else {
                return activePlus;
            }
        },
        get previousItem() {
            const activeMinus = activeItem - 1;
            if (activeMinus < 0) {
                return lastIndex;
            } else {
                return activeMinus;
            }
        }
    }" x-show="activeItem == currentIndex || activeItem == nextIndex || activeItem === previousIndex" x-transition.opacity="" x-transition.duration.100ms="" class="image" :class="currentIndex == activeItem ? 'active' : (currentIndex == nextItem ? 'visible-next' : (currentIndex == previousItem ? 'visible-previous' : ''))" @click="handleImageClick(activeItem, currentIndex, link); activeItem = currentIndex;" @click.prevent="" style="display: none;"><a href="https://www.datadoghq.com/product/network-monitoring/network-performance-monitoring/" aria-label="Link to https://www.datadoghq.com/product/network-monitoring/network-performance-monitoring/"><video loop="" playsinline="" muted="" preload="none" title="Network Monitoring" poster="https://imgix.datadoghq.com/img/network/network-map-poster.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" src="https://imgix.datadoghq.com/video/network-map-comp.mp4?fm=mp4&amp;fit=max" class="img-fluid">
<source src="https://imgix.datadoghq.com/video/network-map-comp.mp4?fm=webm&amp;fit=max" type="video/webm"><source src="https://imgix.datadoghq.com/video/network-map-comp.mp4?fm=mp4&amp;fit=max" type="video/mp4"><img src="https://imgix.datadoghq.com/img/network/network-map-poster.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" alt="Analyze network traffic patterns across your cloud environments" loading="lazy"></video></a></div><div x-data="{
        link: 'https://www.datadoghq.com/product/synthetic-monitoring/',
        currentIndex: 5,
        nextIndex: 6,
        previousIndex: 4,
        get nextItem() {
            const activePlus = activeItem + 1;
            if (activePlus > lastIndex) {
                return 0;
            } else {
                return activePlus;
            }
        },
        get previousItem() {
            const activeMinus = activeItem - 1;
            if (activeMinus < 0) {
                return lastIndex;
            } else {
                return activeMinus;
            }
        }
    }" x-show="activeItem == currentIndex || activeItem == nextIndex || activeItem === previousIndex" x-transition.opacity="" x-transition.duration.100ms="" class="image" :class="currentIndex == activeItem ? 'active' : (currentIndex == nextItem ? 'visible-next' : (currentIndex == previousItem ? 'visible-previous' : ''))" @click="handleImageClick(activeItem, currentIndex, link); activeItem = currentIndex;" @click.prevent="" style="display: none;"><a href="https://www.datadoghq.com/product/synthetic-monitoring/" aria-label="Link to https://www.datadoghq.com/product/synthetic-monitoring/"><video loop="" playsinline="" muted="" preload="none" title="Synthetic Monitoring" poster="https://imgix.datadoghq.com/img/Browsertest_03.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" src="https://imgix.datadoghq.com/video/Browsertest_03.mp4?fm=mp4&amp;fit=max" class="img-fluid">
<source src="https://imgix.datadoghq.com/video/Browsertest_03.mp4?fm=webm&amp;fit=max" type="video/webm"><source src="https://imgix.datadoghq.com/video/Browsertest_03.mp4?fm=mp4&amp;fit=max" type="video/mp4"><img src="https://imgix.datadoghq.com/img/Browsertest_03.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" alt="Proactive, AI-driven monitoring of critical application features" loading="lazy"></video></a></div><div x-data="{
        link: 'https://www.datadoghq.com/product/real-user-monitoring/',
        currentIndex: 6,
        nextIndex: 7,
        previousIndex: 5,
        get nextItem() {
            const activePlus = activeItem + 1;
            if (activePlus > lastIndex) {
                return 0;
            } else {
                return activePlus;
            }
        },
        get previousItem() {
            const activeMinus = activeItem - 1;
            if (activeMinus < 0) {
                return lastIndex;
            } else {
                return activeMinus;
            }
        }
    }" x-show="activeItem == currentIndex || activeItem == nextIndex || activeItem === previousIndex" x-transition.opacity="" x-transition.duration.100ms="" class="image" :class="currentIndex == activeItem ? 'active' : (currentIndex == nextItem ? 'visible-next' : (currentIndex == previousItem ? 'visible-previous' : ''))" @click="handleImageClick(activeItem, currentIndex, link); activeItem = currentIndex;" @click.prevent="" style="display: none;"><a href="https://www.datadoghq.com/product/real-user-monitoring/" aria-label="Link to https://www.datadoghq.com/product/real-user-monitoring/"><video loop="" playsinline="" muted="" preload="none" title="Real User Monitoring" poster="https://imgix.datadoghq.com/img/products/rum/rum-video.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" src="https://imgix.datadoghq.com/video/products/rum/rum-video.mp4?fm=mp4&amp;fit=max" class="img-fluid">
<source src="https://imgix.datadoghq.com/video/products/rum/rum-video.mp4?fm=webm&amp;fit=max" type="video/webm"><source src="https://imgix.datadoghq.com/video/products/rum/rum-video.mp4?fm=mp4&amp;fit=max" type="video/mp4"><img src="https://imgix.datadoghq.com/img/products/rum/rum-video.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" alt="Monitor user journeys and frontend performance in one place" loading="lazy"></video></a></div><div x-data="{
        link: 'https://www.datadoghq.com/product/serverless-monitoring/',
        currentIndex: 7,
        nextIndex: 0,
        previousIndex: 6,
        get nextItem() {
            const activePlus = activeItem + 1;
            if (activePlus > lastIndex) {
                return 0;
            } else {
                return activePlus;
            }
        },
        get previousItem() {
            const activeMinus = activeItem - 1;
            if (activeMinus < 0) {
                return lastIndex;
            } else {
                return activeMinus;
            }
        }
    }" x-show="activeItem == currentIndex || activeItem == nextIndex || activeItem === previousIndex" x-transition.opacity="" x-transition.duration.100ms="" class="image visible-previous" :class="currentIndex == activeItem ? 'active' : (currentIndex == nextItem ? 'visible-next' : (currentIndex == previousItem ? 'visible-previous' : ''))" @click="handleImageClick(activeItem, currentIndex, link); activeItem = currentIndex;" @click.prevent=""><a href="https://www.datadoghq.com/product/serverless-monitoring/" aria-label="Link to https://www.datadoghq.com/product/serverless-monitoring/"><video loop="" playsinline="" muted="" preload="none" title="Serverless" poster="https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" src="https://imgix.datadoghq.com/video/troubleshooting-serverless-1080p.mp4?fm=mp4&amp;fit=max" class="img-fluid">
<source src="https://imgix.datadoghq.com/video/troubleshooting-serverless-1080p.mp4?fm=webm&amp;fit=max" type="video/webm"><source src="https://imgix.datadoghq.com/video/troubleshooting-serverless-1080p.mp4?fm=mp4&amp;fit=max" type="video/mp4"><img src="https://imgix.datadoghq.com/img/serverless/serverless-1-all-your-functions-poster.png?w=750&amp;fit=crop&amp;fm=jpg&amp;auto=format&amp;dpr=1.75&amp;q=40" alt="A comprehensive view of your serverless application" loading="lazy"></video></a></div></div><div class="col-4"><article><p @click="activeItem = 0" :class="activeItem == 0 ? 'active active-desktop-title' : ''" class="title fw-semibold w-max active active-desktop-title">Infrastructure</p><p x-show="activeItem == 0" class="description mt-0">From overview to deep details,&nbsp;fast</p><a x-show="activeItem == 0" href="https://www.datadoghq.com/product/infrastructure-monitoring/" class="link fw-semibold text-uppercase w-max">LEARN MORE &gt;</a></article><article><p @click="activeItem = 1" :class="activeItem == 1 ? 'active active-desktop-title' : ''" class="title fw-semibold w-max">Log Management</p><p x-show="activeItem == 1" class="description mt-0" style="display: none;">Analyze and explore your logs for rapid troubleshooting</p><a x-show="activeItem == 1" href="https://www.datadoghq.com/product/log-management/" class="link fw-semibold text-uppercase w-max" style="display: none;">LEARN MORE &gt;</a></article><article><p @click="activeItem = 2" :class="activeItem == 2 ? 'active active-desktop-title' : ''" class="title fw-semibold w-max">APM</p><p x-show="activeItem == 2" class="description mt-0" style="display: none;">Monitor, optimize, and investigate app&nbsp;performance</p><a x-show="activeItem == 2" href="https://www.datadoghq.com/product/apm/" class="link fw-semibold text-uppercase w-max" style="display: none;">LEARN MORE &gt;</a></article><article><p @click="activeItem = 3" :class="activeItem == 3 ? 'active active-desktop-title' : ''" class="title fw-semibold w-max">Security Monitoring</p><p x-show="activeItem == 3" class="description mt-0" style="display: none;">Identify potential threats to your systems in real time</p><a x-show="activeItem == 3" href="https://www.datadoghq.com/product/security-monitoring/" class="link fw-semibold text-uppercase w-max" style="display: none;">LEARN MORE &gt;</a></article><article><p @click="activeItem = 4" :class="activeItem == 4 ? 'active active-desktop-title' : ''" class="title fw-semibold w-max">Network Monitoring</p><p x-show="activeItem == 4" class="description mt-0" style="display: none;">Analyze network traffic patterns across your cloud environments</p><a x-show="activeItem == 4" href="https://www.datadoghq.com/product/network-monitoring/network-performance-monitoring/" class="link fw-semibold text-uppercase w-max" style="display: none;">LEARN MORE &gt;</a></article><article><p @click="activeItem = 5" :class="activeItem == 5 ? 'active active-desktop-title' : ''" class="title fw-semibold w-max">Synthetic Monitoring</p><p x-show="activeItem == 5" class="description mt-0" style="display: none;">Proactive, AI-driven monitoring of critical application features</p><a x-show="activeItem == 5" href="https://www.datadoghq.com/product/synthetic-monitoring/" class="link fw-semibold text-uppercase w-max" style="display: none;">LEARN MORE &gt;</a></article><article><p @click="activeItem = 6" :class="activeItem == 6 ? 'active active-desktop-title' : ''" class="title fw-semibold w-max">Real User Monitoring</p><p x-show="activeItem == 6" class="description mt-0" style="display: none;">Monitor user journeys and frontend performance in one place</p><a x-show="activeItem == 6" href="https://www.datadoghq.com/product/real-user-monitoring/" class="link fw-semibold text-uppercase w-max" style="display: none;">LEARN MORE &gt;</a></article><article><p @click="activeItem = 7" :class="activeItem == 7 ? 'active active-desktop-title' : ''" class="title fw-semibold w-max">Serverless</p><p x-show="activeItem == 7" class="description mt-0" style="display: none;">A comprehensive view of your serverless application</p><a x-show="activeItem == 7" href="https://www.datadoghq.com/product/serverless-monitoring/" class="link fw-semibold text-uppercase w-max" style="display: none;">LEARN MORE &gt;</a></article><a href="https://www.datadoghq.com/product/" class="d-block w-max mt-6 bottom-link">VIEW ALL FEATURES</a></div></div></div><script>
            
            function handleImageClick(activeItem, currentIndex, href) {
                if (activeItem === currentIndex) {
                    window.location = href;
                }
            }
        </script></div></div>
</div>